// ==============================
// Custom style
// 自定义样式
// ==============================

#qrcode-img {
    position: absolute;
    transform: translate(calc(-100% + 1em), calc(-100% - 1em));
    opacity: 0;
    transition: opacity 0.5;
    img {
        display: none;
        width: 150px;
        height: 150px;
    }
}
.qrcode-container {
    &:hover #qrcode-img {
        opacity: 1;
        img {
            display: inline-block;
            border: 1px solid var(--color-contrast-lower);
        }
    }
}

.post-copyright {
    margin: 0;
    list-style: none;
    margin-top: 5em !important;
    padding: 0.5em 1em;
    background-color: rgba(255, 145, 0, 0.1);
    border-left: 4px solid #ff9100;
    line-height: 2;
}

.copyright-item {
    line-height: 1.5;
    margin: 0.5em 0;
}

.copyright-item-text {
    font-weight: 700;
}

.related-posts {
    border: 1px solid hsl(0, 0%, 95%);
    padding: 1em 1em;
    line-height: 2em;
    margin-top: 5em;
}

.related-title {
    font-size: 1em;
    margin: 0;
}

.related-icon {
    float: right;
    margin-top: 0.4em;
}

.related-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.related-link {
    line-height: 1.5;
    display: inline-block;
}
